.outer {
  background: #b4fff6;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.mainTitle {
  font-family: "Poppins";
  font-weight: 700;
  color: black;
  font-size: 1.4rem;
  display: block;
}
.titleHolder {
  position: absolute;
  left: 10%;
  top: 60%;
  text-align: left;
  line-height: 1;
}
.subTitle {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  color: #312c2c;
}

.image {
  width: 15%;
  position: absolute;
  left: 10%;
  top: 10%;
}
